apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name:  {{ .Release.Name }}
data:
  type: helm
  values: |
    {{ .Values | toJson }} 
  revision: "{{ .Release.Revision }}"
