apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name:  {{ .Release.Name }}
  annotations:
    helm.sh/resource-policy: keep
data:
  type: helm
  values: |
    {{ .Values | toJson }} 
  revision: "{{ .Release.Revision }}"
  isInstall: "{{ .Release.IsInstall }}"
  isUpgrade: "{{ .Release.IsUpgrade }}"
